body{
    background:rgb(44, 43, 43);
    font-weight: bold;
    font-family: 'Anonymous Pro', monospace;
}



h1,
h5,
h4,
li{
    text-transform: uppercase;
    color:white;
    opacity: 0;
    animation-name: opacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

h5{
    animation-delay: 2s;
}

h4{
  animation-delay: 3.5s;  
}

ul.first li:nth-child(1){
  animation-delay: 5s;  
}
ul.first li:nth-child(2){
  animation-delay: 6.5s;  
}
ul.first li:nth-child(3){
  animation-delay: 8s;  
}
ul.first li:nth-child(4){
 animation-delay: 9.5s;  
}
ul.nest li:nth-child(1){
    animation-delay: 11s;  
}
ul.nest li:nth-child(2){
    animation-delay: 12.5s;  
}
ul.nest li:nth-child(3){
    animation-delay: 14s;  
}

#difficult{
    animation-delay: 15.5s;
}


@keyframes opacity {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


#easy,
#normal,
#hard{
    opacity: 0;
    animation-name:opacityButton;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    
}

#easy{
  animation-delay: 11.5s;
    
}
#normal{
  animation-delay: 13s;
    
}
#hard{
 animation-delay: 14.5s;
}

@keyframes opacityButton{
    from{
        
        opacity:0;
    }
    to{
    
        opacity:1;
    }
}


.result p{
    color:white;

}

/* @keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
} */

span{
    color:orange;
}